<%= link_to new_admin_book_path , class: "caption" do %>
  <%= content_tag :i, "", class: "fa fa-plus-circle"%> <%= t(".add-book") %>
<% end %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".image") %></th>
      <th><%= t(".desc") %></th>
      <th><%= t(".category") %></th>
      <th><%= t(".author") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <%= render @books %>
</table>
