<div class="row thong_tin_ebook">
    <div class="col-md-4 cover">
      <%= image_tag(@book.image.url, alt: 'Image') if @book.image? %>
    </div>
    <div class="col-md-8">
      <h1 class="ebook_title text-primary"> <%= @book.title %> </h1>
      <h5 class=""><%= t(".author") %>: <%= @book.author %> </h5>
      <h5 class=""><%= t(".category")%> : <%= @book.cate.title %> </h5>
    </div>
</div>
<hr>
<h4><%= t(".list-chapter") %></h4>
<hr>
<ul class="chapter-list">
  <% Chapter.all.each do |chapter| %>
    <li>
      <%= link_to chapter.title, chapter_path(chapter) %>
    </li>
    <hr>
  <% end %>
</ul>
