<%= link_to new_admin_cate_path , class: "caption" do %>
  <%= content_tag :i, "", class: "fa fa-plus-circle" %> <%= t(".add-cate") %>
<% end %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <%= render @cates %>
</table>
