<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8 col-lg-8">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p><i class="fa fa-birthday-cake"></i> Birth date: <%= @user.birthdate %></p>
      <p> <i class="fa fa-map-marker"></i> Address: <%= @user.address %></p>
      <p><i class="fa fa-mobile"></i> Phone: <%= @user.mobile %> </p>
    </section>
  </aside>
  <div class="col-md-4 col-lg-4">
    <%= image_tag(@user.image.url, alt: 'Image') if @user.image? %>
  </div>
</div>
<%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary border-radius" %>
