<div class="alert alert-success" role="alert"><%=raw t(".alert") %></div>

<div class="main-index">
  <h2 class="text-center"><%=raw t(".title-slogan") %></h2>
  <p class="text-center">
     <%= t(".sub-slogan") %>
  </p>
  <ul class="row">
    <%= render @cates %>
  </ul>
  <%= image_tag("coder.png", alt: 'Image',  class: "image-bg-index") %>
</div>
