<%= link_to new_admin_chapter_path , class: "caption" do %>
  <%= content_tag :i, "", class: "fa fa-plus-circle"%> <%= t(".add-chapter") %>
<% end %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".content") %></th>
      <th><%= t(".title-book") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <%= render @chapters %>
</table>
